// Montserrat Regular
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/MontserratRegular.ttf);
}
// Roboto Regular
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/RobotoRegular.ttf);
}
// Roboto Light
@font-face {
    font-family: roboto-light;
    src: url(../fonts/Roboto/RobotoLight.ttf);
}