/* MEDIA  SCREEN WIDTH 460 */

@media screen and (max-width: 460px) {
    .hiw__content_item {
        height: 240px;
    }
    
    .ideas__content_big {
        height: 120px;
    }
    
    .ideas__content_small {
        height: 120px;
    }
}